
<div class="row">
{{carDetail.brandName}}
  <div
    class="card mb-3 mx-3 pt-3 px-3 "
    style="width: 120rem;height:30rem;"
    *ngFor="let carImage of carImages"
  >
    <img class="card-img-top  " style="width:20rem;height:15rem;margin-left:10px" src="{{imageBaseUrl+carImage.imagePath}}" alt="Card image cap">


    <div class="card-body">
      <h2 class="card-title"> CarName:{{ carDetail.carName }}</h2>
      <p class="card-text"><b>Model Year: </b>{{ carDetail.modelYear }}</p>
           <p class="card-text"><b> Description:{{carDetail.description}} </b></p>



  </div>
</div>
</div>
<app-car-rent></app-car-rent>
