<app-navi></app-navi>
<div class="jumbotron">
  <h1 class="display-4">RenTaCar</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

</div>


<div style="margin-top:17px;float:left;width:17rem;" class="row">
<div class="col-md-12">
<div class="list-group">
  <!--<a  class="list-group-item list-group-item-action active">
  All Cars
  </a> #}-->
</div>
</div>
</div>
