.display-4{font-style: italic;}

/* .jumbotron{height: 30rem;width: 50rem;} */

/* .img{width:60rem;height: 40rem;} */
/* .carousel-item{height: 14rem;width: 50rem;margin-bottom: 40rem;position:static} */

#carouselExampleIndicators{margin-left: 5px;}

.carousel-slide{
  height:160px;width: 300px;margin-bottom: 140px;

}

#imgtitle{margin-bottom: 30px;}


.col{width: 250px;}
