<app-navi></app-navi>
<div class="jumbotron">
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <!-- <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p> -->
</div>

<div class="container">
<div class="row"  id="imgtitle">
<div class="col">
      <img class="d-block w-100" src="https://www.lufthansa.com/content/dam/lh/images/local_images/ancillary/lh_anc_car_pano_XL_en.jpg.transform/lh-dcep-transform-width-1440/img.jpg">
     </div>

    </div>
</div>



<!-- <div style="margin-top:17px;float:left;width:17rem;" class="row">
<div class="col-md-12">
<div class="list-group">
  <!--<a  class="list-group-item list-group-item-action active">
  All Cars
  </a>
</div>
</div>
</div>-->


