<div>


<ul class="list-group" *ngFor="let rental of rentals">
 <strong>  RentalId </strong> <li class="list-group-item"  >{{rental.rentalId}}</li>
  customerCompanyName <li class="list-group-item"  >{{rental.customerCompanyName}}</li>
  description <li class="list-group-item"  >{{rental.description}}</li>
  customerFullName <li class="list-group-item"  >{{rental.customerFullName}}</li>
  rentDate <li class="list-group-item"  >{{rental.rentDate}}</li>
  returnDate <li class="list-group-item"  >{{rental.returnDate}}</li>

</ul>



</div>
